<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.xukefeng.musicplayer">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"  />
    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity android:name=".MusicListActivity"
            android:launchMode="singleTask">
            <meta-data
                android:name="RECOGNIZE_MODE"
                android:value="1" />

            <meta-data
                android:name="FORBID_TOUCH"
                android:value="true" />
        </activity>
        <activity
            android:name=".MusicPlay"
            android:exported="true"
            android:launchMode="singleTask">

            <meta-data
                android:name="RECOGNIZE_MODE"
                android:value="1" />

            <meta-data
                android:name="FORBID_TOUCH"
                android:value="true" />

        </activity>
        <activity android:name=".MusicSetting">
            <meta-data
                android:name="RECOGNIZE_MODE"
                android:value="1" />

            <meta-data
                android:name="FORBID_TOUCH"
                android:value="true" />
            
        </activity>

        <service android:name=".MusicService.MusicPlayerService"></service>


    </application>

</manifest>