<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tecsun.lib_videoplayer">

    <!-- 请求访问网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 请求访问网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />


    <application
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true">



    <!--        <activity-->
<!--            android:name="com.tecsun.lib_videoplayer.SimplePlayer"-->
<!--            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"-->
<!--            android:screenOrientation="portrait"-->
<!--            android:theme="@style/Theme.AppCompat.Full" />-->

        <activity
            android:name="com.tecsun.lib_videoplayer.PlayRawAssetsActivity"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <provider
            android:name="com.tecsun.lib_videoplayer.InitVideoProvider"
            android:authorities="${applicationId}.com.tecsun.lib_videoplayer.InitVideoProvider"/>

    </application>
</manifest>
