<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tecsun.robot.nanning.lib_base">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>

        <provider
            android:name="com.tecsun.robot.nanning.pinyin.InitContentProvider"
            android:authorities="${applicationId}.com.tecsun.robot.nanning.pinyin.InitContentProvider"></provider>
    </application>

</manifest>